<header class="mb-5">
  <nav>
    <ul class="flex p-4 justify-center bg-blue">
      <li class="mr-2  border-r border-r-black">
        <a href="/todos/" class="hover:border-b-2 border-yellow mx-3 py-2">Todo list</a>
      </li>
      <li class="mr-2">
        <a href="/todos/add-todo" class="hover:border-b-2 border-yellow mx-3 py-2">Add Todo</a>
      </li>
    </ul>
  </nav>
</header>