<%- include('./includes/head.ejs') %>
  </head>

  <body>
    <%- include('./includes/navigation.ejs') %>
      <div class="w-screen h-[calc(100vh-56px)] flex justify-center items-center">
        <h1 class="text-[100px]">Page Not Found!</h1>
      </div>
      <%- include('./includes/end.ejs') %>